@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


:root {
--White: hsl(0, 0%, 100%);
--Stone100: hsl(30, 54%, 90%);
--Stone600: hsl(30, 10%, 34%);
--Stone900: hsl(24, 5%, 18%);
--Brown800: hsl(14, 45%, 36%);
--Rose800: hsl(332, 51%, 32%);
--Rose50: hsl(330, 100%, 98%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: var(--Stone100);
    margin-top: 7.6875rem;
    margin-bottom: 7.6875rem;
    font-size: 1rem;
}

main {
    background-color: var(--White);
    margin: auto;
    max-width: 45.94rem;
    border-radius: 1.4375rem;
    padding: 2.5rem;
}

main > img {
    max-width: 100%;
    border-radius: 0.75rem;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.6rem;
    border-top: solid var(--Rose50) 1px;
}

h1 {
    color: var(--Stone900);
    margin-top: 1.78rem;
    margin-bottom: 1rem;
    font-family: "Young Serif", serif;
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    color: var(--Brown800);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
}

h3 {
    color: var(--Rose800);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.236rem;
    letter-spacing: 0.02rem;
}

p {
    color: var(--Stone600);
    font-family: "Outfit", sans-serif;
    line-height: 1.5rem;
}

.preparationTime {
    color: var(--Stone600);
    background-color: var(--Rose50);
    border-radius: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding-top: 1.57rem;
    padding-bottom: 1.4rem;
    padding-left: 1.8rem;
}

.preparationTime > ul {
    margin-top: 0.5rem;
    padding-left: 1.3rem;
}

.preparationTime > ul > li {
    color: var(--Rose800);
    font-size: 0.9rem;
    line-height: 2rem;
    padding-left: 1.1rem;
}

.liPreparation {
    color: var(--Stone600);
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
}

.IngredientsList {
    color: var(--Stone600);
    font-family: "Outfit", sans-serif;
}

.IngredientsList > ul {
    margin-top: 0.8rem;
    padding-left: 1.3rem;
}

.IngredientsList > ul > li {
    font-size: 0.8rem;
    line-height: 2rem;
    padding-left: 1.1rem;
    font-family: "Outfit", sans-serif;
    color: var(--Brown800);
}

.liIngredientsList {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    color: var(--Stone600);
}

.instructions {
    color: var(--Stone600);
    font-family: "Outfit", sans-serif;
}

.instructions ol {
    padding-left: 1.3rem;  
    margin-top: 0.8rem;  
}

.instructions ol > li {
    font-size: 0.9rem;
    padding-left: 1.1rem;
    color: var(--Brown800);
    font-weight: 900;
    margin-bottom: 1rem;
}

.liInstructionsList {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    color: var(--Stone600);
    font-weight: 400;
}

.nutriction > p {
    margin-top: 0.8rem;
}

table {
    font-family: "Outfit", sans-serif;
    width: 100%;
    border-spacing: 0;
    color: var(--Stone600);
    margin-top: 0.5rem;
}

td {
    border-bottom: solid 1px var(--Stone100);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.detailsTable {
    color: var(--Brown800);
    font-weight: 900;
}


@media only screen and (max-width: 750px) {
    body {
      background-color: var(--White);
      margin: auto;
      padding-bottom: 2rem;
    }

    main {
        padding: 0;
        border-radius: 0;
    }

    main > img {
        width: 100% !important;
        border-radius: 0;
    }

    .recipe {
        padding-right: 2rem;
        padding-left: 2rem;
    }

  }